# Python
__pycache__/
*.pyc
venv/
.venv/
*.egg-info/

# C++ / сборка
build/
*.o
*.out
*.elf
*.bin

# PlatformIO
.pio/

# IDE / системные файлы
.vscode/*
!.vscode/launch.json
.DS_Store
Thumbs.db
desktop.ini
.claude/
.vscode/c_cpp_properties.json

# идентефикационный и конф файл
config.local.json
device_id.local.json

# архивы ini
toolchain-cache/

# Логи и временные файлы
*.log
*.tmp